.prm-donation-form-element {
	box-sizing: border-box;
	margin: 10px 0;
	padding: 0 5px;
	-moz-box-sizing: border-box;
}
.prm-donation-form-element label {
	display: block;
}
.prm-donation-form-name {
	width: 65%;
}
.prm-donation-form-email,
.prm-donation-form-phone {
	float: left;
}
.prm-donation-form-email {
	width: 35%;
}
.prm-donation-form-phone {
	width: 30%;
}
.prm-donation-form-address,
.prm-donation-form-payment-method {
	clear: left;
}
.prm-donation-form-address .prm-donation-form-element {
	float: left;
}
.prm-donation-form-address-postal-code {
	width: 100%;
}
#prm-donation-form-address-postal-code {
	float: left;
	width: 20%;
}
.prm-donation-form-address-postal-code .msg {
	float: left;
	margin: 6px 10px;
}
.prm-donation-form-address-postal-code.loading .msg {
	background: url('../img/load.gif');
	display: block;
	height: 16px;
	text-indent: -99999px;
	width: 16px;
}
.prm-donation-form-address-locality {
	width: 30%;
}
.prm-donation-form-address-dependent-locality {
	width: 30%;
}
.prm-donation-form-address-thoroughfare {
	clear: left;
	width: 55%;
}
.prm-donation-form-address-premise {
	width: 15%;
}
.prm-donation-form-address-sub-premise {
	width: 30%;
}
.prm-donation-form-address-administrative-area {
	width: 40%;
}
.prm-donation-form-address-administrative-area select {
	display: block;
}
